body{
  background:#b3d6ff;
}
#div1 p{
  background: linear-gradient(90deg,#00c8ff,#ff00f7);
  font-size: 30px;
  margin-top:20px;
  width:500px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 20px #fff;
  }
  #div1 ul{
    background: linear-gradient(45deg,#00c8ff,#ff00f7);
    font-size: 30px;
    margin-top: -64px;
    width:200;
    
   margin-left:20px;
    
    border-radius: 20px;
    box-shadow: 0 0 20px #000;
    text-decoration: none;
    }

#center 
{
  margin-bottom:20px;
  margin-left: 300px;
  margin-right: 300px;
  font-size: 30px;
  background:linear-gradient();
  box-shadow: 0 0 10px #0593ff;
  border-radius: 20px;
 
  
 
  
}
#left ul li{
 
  list-style: none;
  clear: left;
  float: left;
  margin-top: 20px;
}

#right ul li{
  margin-top: 20px;
  list-style: none;

 
  
}
#right{
  margin-right: 40px;
  float: right;
  margin-top: -1708px;

  

}

#ds {
  background: linear-gradient();
  font-size: 30px;
 
}
#logo{
  margin-left: 514px;
}
