body{
  background:#b3d6ff;
}
#div1 {
  background: linear-gradient(90deg,#00c8ff,#ff00f7);
  font-size: 30px;
  margin-top:20px;
  margin-left: 300px;
  margin-right: 300px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 20px #fff;
  }




