body{
  background:#b3d6ff;
}
#div1 {
  background: linear-gradient(90deg,#00c8ff,#ff00f7);
  font-size: 30px;
  margin-top:20px;
  margin-left: 300px;
  margin-right: 300px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 20px #fff;
  }

#center 
{
  margin-top: 0px;
  margin-left: 300px;
  margin-right: 300px;
  font-size: 30px;
  background:linear-gradient();
  box-shadow: 0 0 10px #0593ff;
  border-radius: 20px;
  padding: 0px 1.5px 0px 1.5pc;
 
  
}
#left ul li{
 
  list-style: none;
  clear: left;
  float: left;
  margin-top: 20px;
}

#right ul li{
  margin-top: 20px;
  list-style: none;

 
  
}
#right{
  margin-right: 40px;
  float: right;
  margin-top: -490;
  

}
#logo p{

  margin-left:514;

}


